server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: false   
      soundcloud: true
      bandcamp: true
      twitch: true
      vimeo: true
      http: true
      local: false     
      
plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirect: true
    clients:
      - "ANDROID"
      - "IOS"
      - "WEB"
      - "TV"

logging:
  file:
    path: ./logs/
  level:
    root: INFO
    lavalink: INFO
